apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Namespace }}
---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: h300-nonexistent-template
  namespace: {{ .Namespace }}
spec:
  spec:
    devices:
      requests:
      - name: gpu
        exactly:
          count: 2
          deviceClassName: gpu.nvidia.com
          selectors:
          - cel:
              expression: device.attributes["gpu.nvidia.com"].productName.lowerAscii().matches("^.*h300.*$")
---
apiVersion: v1
kind: Pod
metadata:
  name: test-unavailable-gpu
  namespace: {{ .Namespace }}
spec:
  restartPolicy: Never
  containers:
  - name: cuda-workload
    image: nvcr.io/nvidia/cuda:12.2.0-base-ubuntu22.04
    command: ["bash","-c"]
    args: ["nvidia-smi -L"]
    resources:
      claims:
      - name: gpu-claim
  resourceClaims:
  - name: gpu-claim
    resourceClaimTemplateName: h300-nonexistent-template
  tolerations:
  - key: "nvidia.com/gpu"
    operator: "Exists"
    effect: "NoSchedule"
