apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Namespace }}
---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: single-gpu
  namespace: {{ .Namespace }}
spec:
  spec:
    devices:
      requests:
      - name: gpu-by-product
        exactly:
          count: 1
          deviceClassName: gpu.nvidia.com
          selectors:
          - cel:
              expression: device.attributes["gpu.nvidia.com"].productName.lowerAscii().matches("^.*{{ .ProductPattern }}.*$")
---
apiVersion: v1
kind: Pod
metadata:
  namespace: {{ .Namespace }}
  name: pod1
  labels:
    app: pod
spec:
  restartPolicy: Never
  containers:
  - name: ctr
    image: ubuntu:22.04
    command: ["bash","-c"]
    args: ["nvidia-smi -L; trap 'exit 0' TERM; sleep 9999 & wait"]
    resources:
      claims:
      - name: gpu-by-product
  resourceClaims:
  - name: gpu-by-product
    resourceClaimTemplateName: single-gpu
  tolerations:
  - key: "nvidia.com/gpu"
    operator: "Exists"
    effect: "NoSchedule"
