apiVersion: resource.k8s.io/${TEST_K8S_RESOURCE_API_VERSION}
kind: ResourceClaim
metadata:
  name: batssuite-rc-bad-opaque-config
spec:
  devices:
    requests:
    - name: chan
      # This part of the ResourceClaim spec changed in
      # resource.k8s.io/v1 compared to previous API versions.
      ${TEST_DEVCLASSNAME_CD_CHANNEL}
    config:
    - opaque:
        driver: compute-domain.nvidia.com
        parameters:
          apiVersion: resource.nvidia.com/v1beta1
          domainID: not-needed-for-test
          kind: ComputeDomainChannelConfig
          unexpectedField: foo
      requests:
      - chan
---
apiVersion: v1
kind: Pod
metadata:
  generateName: batssuite-pod-boc-
  labels:
    env: batssuite
spec:
  containers:
  - name: app
    image: busybox
    resources:
      claims:
      - name: batssuite-claim-boc
  resourceClaims:
  - name: batssuite-claim-boc
    resourceClaimName: batssuite-rc-bad-opaque-config
